.filter-container {
  margin-bottom: 2.4rem;
  width: calc(100% + 2.4rem);
  display: flex;
  flex-wrap: wrap;
}

.filter-box {
  flex-grow: 0;
  // max-width: 50%;
  width: 100%;
  flex-basis: 50%;
  box-sizing: border-box;
  // padding: 1.2rem;
  position: relative;
  padding-right: 1.4rem;

  &:focus-within {
    .filter-label {
      color: #3f51b5;
      // transform: translate(0.1rem, -1.4rem) scale(0.75);
      transform-origin: top left;
      transform: translate(1.4rem, -1.1rem) scale(0.75);
    }
  }
}

.filter-label {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.54);
  z-index: 1;
  transform: translate(1.4rem, 0.3rem) scale(1);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.filled {
  transform-origin: top left;
  transform: translate(1.4rem, -1.1rem) scale(0.75);
}

.filter-input-box {
  width: 100%;
  display: inline-flex;
  cursor: text;
  align-items: center;
  border-radius: 5px;

  & svg {
    color: rgba(0, 0, 0, 0.87);
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }

  &:focus-within {
    .filter-legend {
      max-width: 1000px;
      transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
    }
    .filter-outline {
      border-color: #3f51b5;
      border-width: 2px;
    }
  }
}

.filter-input {
  position: relative;
  border: 0;
  width: 100%;
  padding: 1rem;

  &:focus {
    outline: none;
  }
}

.filter-outline {
  border-color: rgba(0, 0, 0, 0.23);
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 8px;
  overflow: hidden;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-radius: inherit;
  pointer-events: none;
}

.filter-legend {
  width: auto;
  height: 11px;
  display: block;
  padding: 0;
  font-size: 0.75em;
  max-width: 0.01px;
  text-align: left;
  transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  visibility: hidden;

  & span {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.filter-legend-filled {
  max-width: 1000px;
  transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
}
