.student__table {
  width: 100%;
  overflow-x: auto;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &__head {
    &--cells {
      padding: 0.6rem 2.4rem 0.6rem 1.6rem;
      color: rgba(0, 0, 0, 0.87);
      text-align: left;
      font-weight: 500;
      line-height: 1.5rem;
      border-bottom: 1px solid rgba(224, 224, 224, 1);
    }
  }

  &__body {
    &--cells {
      padding: 0.6rem 2.4rem 0.6rem 1.6rem;
      color: rgba(0, 0, 0, 0.87);
      text-align: left;
      font-size: 1.4rem;
      border-bottom: 1px solid rgba(224, 224, 224, 1);

      &--4th.green {
        color: green;
        font-weight: bold;
      }
      &--4th.red {
        color: red;
        font-weight: bold;
      }
      &--4th.goldenrod {
        font-weight: bold;
        color: goldenrod;
      }
    }
  }
}

.button {
  color: #fff;
  border: none;
  padding: 0.6rem 1.6rem;
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin: 0;
  background-color: transparent;
  line-height: 1.75;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &--edit {
    color: #3f51b5;
    margin-right: 0.8rem;
    &:hover {
      // background-color: #303f9f;
      background-color: rgba(245, 0, 87, 0.04);
    }
  }
  &--remove {
    background-color: none;
    color: #f50057;
    // border: 1px solid #f50057;

    &:hover {
      // border: 1px solid #f50057;
      background-color: rgba(245, 0, 87, 0.04);
    }
  }
}
